header, nav, section, article, aside, footer{
    border: 2px solid rgb(95, 19, 19);
    padding: 0.8em;
    margin: 0.8em;
}
nav, section, aside{   
    float: left;
    width: 28.3%;
    height: 25em;
}
footer{
    clear: both;
}
header, footer, aside, nav{
    background-color: rgb(190, 113, 19);
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
header, footer{
    text-align: center;
}
header.header{
    font-size: 46px;
}
footer.footer, aside.sidebar{
    font-size: 10px;
}
section.content{
    font-size: 14px;
}
nav.navigation{
    font-size: 12px;
}