* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
header, nav, section, article, aside, footer{
    border: 2px solid rgb(95, 19, 19);
    padding: 0.8em;
    margin: 0.8em;
}
nav, section, aside{  
    float: left;
    width: 31.5%;
    height: 25em;
}
footer{
    clear: both;
}
header, footer, aside, nav{
    background-color: rgb(190, 113, 19);
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
header, footer{
    text-align: center;
}
header.header{
    font-size: 46px;
}
footer.footer, aside.sidebar{
    font-size: 10px;
}
section.content{
    font-size: 14px;
}
nav.navigation{
    font-size: 12px;
}
/* all class attribute finishes with r (example header, footer) background be magenta.*/
*[class $= "r"]{
    background-color: magenta;
}
/* all class attribute contains an a (example nav) but do NOT finish with r,background be blue.*/
*[class *= "a"]:not([class $= "r"]){
    background-color: blue;
}

/*Example and test of global font weight

#general{
    width: 140%;
}
body{
    width: 200% !important;
}
*/

/*Example and test of change background without changing the inline style
.oh-no-inline-styles{
        background-color: green !important;
}
*/